Repository brave/qa-resources, pull requests merged in 2021-02, with the labels that each got.

#216 Adding QA resource request for desktop
  .github/ISSUE_TEMPLATE/qaResourcesDesktop.md
Labels: OS/Desktop

#218 Adding android release template
  .github/ISSUE_TEMPLATE/androidReleaseTemplate.md
Labels: OS/Android

#219 Adding desktop release template
  .github/ISSUE_TEMPLATE/desktopReleaseTemplate.md
Labels: OS/Desktop

#221 Add macOS arm64/M1 specific test pass template
  wikitemplate-macOS-arm64.md
Labels: OS/macOS - arm64, testsheet

#224 iOS Release Template
  .github/ISSUE_TEMPLATE/iosReleaseTemplate.md
Labels: OS/iOS

#228 Template for Random QA recourse requests
  .github/ISSUE_TEMPLATE/qaResourceRandom.md
Labels: enhancement

#229 Fixing the random template
  .github/ISSUE_TEMPLATE/qaResourceRandom.md
Labels: enhancement

#233 Add new Tor cases
  wikitemplate-tor.md
Labels: Tor
