Repository brave/qa-resources, pull requests merged in 2021-06, with the labels that each got.

#294 Update macOS arm64 template
  wikitemplate-macOS-arm64.md
Labels: OS/Desktop, OS/macOS - arm64, testsheet

#302 Add Hardware Wallet test for CR bumps
  wikitemplate.md
Labels: testsheet

#305 Add tabgroups tests
  wikitemplate-android.md
Labels: testsheet

#298 Update test run generator script
  brave_testrun_generator.py
  wikitemplate-android-x86.md
  wikitemplate-tor-Linux.md
  wikitemplate-tor-Windows.md
  wikitemplate-tor-macOS(Intel).md
  wikitemplate-tor-macOS(arm64).md
Labels: test-script
