Repository brave/qa-resources, pull requests merged in 2022-05, with the labels that each got.

#431 Remove references to wallet for Brave Rewards on desktop templates
  wikitemplate-ReducedDesktop.md
  wikitemplate-macOS-arm64.md
  wikitemplate-majorChromiumBumpUpgrades
  wikitemplate-minorCRbumpDesktop.md
  wikitemplate.md
Labels: testsheet, OS/Desktop

#428 Update wording for Tor button in URL bar
  wikitemplate-tor-Linux.md
  wikitemplate-tor-Windows.md
  wikitemplate-tor-macOS(Intel).md
  wikitemplate-tor-macOS(arm64).md
  wikitemplate-tor.md
Labels: testsheet, OS/Desktop, Tor

#426 Remove Android x86 manual passes from test run generator
  brave_testrun_generator.py
Labels: testsheet, OS/Android, x86

#433 Additional Rewards test case wording updates
  wikitemplate-ReducedDesktop.md
  wikitemplate.md
Labels: testsheet, OS/Desktop

#435 Remove Linux test run generation when release is a minor Chromium bum…
  brave_testrun_generator.py
Labels: testsheet, OS/Desktop, OS/Linux

#437 Reduce macOS arm64 template for CR bump only
  brave_testrun_generator.py
  wikitemplate-minorCRbump-macOS-arm64.md
Labels: testsheet, OS/Desktop, OS/macOS - arm64

#439 Upgrade changes to manual pass
  wikitemplate-android.md
Labels: testsheet
