Repository brave/qa-resources, pull requests merged in 2023-02, with the labels that each got.

#504 Remove references to macOS x64 builds in macOS arm64 manual passes
  WikiTemplate/Desktop/Minor_CR_Bump/wikitemplate-minorCRbump-macOS-arm64.md
  WikiTemplate/Desktop/wikitemplate-macOS-arm64.md
Labels: testsheet, OS/Desktop, OS/macOS - arm64

#507 Remove references to wallet in rewards context
  WikiTemplate/Android/wikitemplate-ReducedAndroid.md
  WikiTemplate/Android/wikitemplate-android.md
  WikiTemplate/Android/wikitemplate-minorCRbumpAndroid.md
  WikiTemplate/Desktop/Reduced/wikitemplate-ReducedDesktop.md
  WikiTemplate/Desktop/wikitemplate.md
Labels: testsheet, OS/Android, OS/Desktop

#508 Update Major CR bump template to reflect component changes
  WikiTemplate/Desktop/Major_CR_Bump/wikitemplate-majorChromiumBumpUpgrades.md
Labels: testsheet, OS/Desktop

#509 Remove broken PDF test case
  WikiTemplate/Desktop/wikitemplate.md
Labels: testsheet, OS/Desktop

#510 Add checks for adblock lists and filters
  WikiTemplate/Desktop/Major_CR_Bump/wikitemplate-majorChromiumBumpUpgrades.md
  WikiTemplate/Desktop/Minor_CR_Bump/wikitemplate-minorCRbump-macOS-arm64.md
  WikiTemplate/Desktop/Minor_CR_Bump/wikitemplate-minorCRbumpDesktop.md
  WikiTemplate/Desktop/Reduced/wikitemplate-ReducedDesktop.md
  WikiTemplate/Desktop/wikitemplate-macOS-arm64.md
  WikiTemplate/Desktop/wikitemplate.md
Labels: testsheet, OS/Desktop

#513 Fix spelling of "chromium" in major-CR-bump run
  WikiTemplate/Desktop/Major_CR_Bump/wikitemplate-majorChromiumBumpUpgrades.md
Labels: testsheet
